{{>header}}

<section class="gradient-custom">
    <h3 class="text-center"
        style="background-color: #435D7D;color: white; padding: 5px 0px; font-family: 'Varela Round', sans-serif;">
        Register New <strong>Employee</strong></h3>
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <p class="text-left" style="font-family: 'Varela Round', sans-serif;"> <a href="//localhost:3000"
                        style=" color: #435D7D">
                        << All employees </a>
                </p>
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">

                    <div class="card-body p-4 p-md-5">

                        <form action="//localhost:3000/employee/new" method="POST">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="firstName">Full Name</label>
                                        <input type="text" id="name" name="name" class="form-control form-control-lg" />
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Email</label>
                                        <input type="email" id="email" name="email"
                                            class="form-control form-control-lg" />

                                    </div>

                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Address</label>
                                        <input type="text" class="form-control form-control-lg" id="address"
                                            name="address" />

                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                        <input type="tel" id="phone" name="phone"
                                            class="form-control form-control-lg" />

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <br /> <br />
                                    <div class="form-outline">
                                        <class="form-check">
                                            <label class="form-label"
                                                for="emailAddress"><strong>Gender:</strong></label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                class="form-check-input" type="radio" value="Male" name="gender"
                                                id="maleRadio" checked />
                                            <label class="form-check-label" for="maleRadio"> Male </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="form-check-input" type="radio" name="gender" id="femaleRadio"
                                                value="Female" />
                                            <label class="form-check-label" for="femaleRadio"> Female</label>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-label select-label">Choose option</label> &nbsp;
                                    <select class="select form-control-md p-1 rounded" role="button" name="active">
                                        <option value="true" class="text-success">Active</option>
                                        <option value="false" class="text-danger">Not Active</option>

                                    </select>


                                </div>
                            </div>


                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Register"
                                    style="background-color: #435D7D; border: none" />
                            </div>
                    </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



{{>footer}}